<div
  [ngStyle]="{
    backgroundColor: 'var(--surface-ground)',
    color: 'var(--primary-color)'
  }"
>
  <header class="pb-5 pt-3">
    <h1>FALLOUT CODEBREAKER</h1>
  </header>

  <div class="row">
    <p class="mt-2">{{"Word count: " + words.length + "."}}</p>
  </div>

  <div class="row">
    <div class="col-12 col-md-8">
      <p-button class="col-8" [outlined]="true" (onClick)="addWord()">
        <i class="pi pi-plus"></i>
      </p-button>
      <p-table
        [value]="words"
        dataKey="id"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 50%">Word</th>
            <th style="width: 50%">Correct Letters</th>
            <th style="width: 50%">Delete</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-word
          let-editing="editing"
          let-rowIndex="rowIndex"
        >
          <tr>
            <td [pEditableColumn]="word.word" pEditableColumnField="code">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="word.word" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ word.word }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td
              [pEditableColumn]="word.correctLetters"
              pEditableColumnField="name"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="word.correctLetters"
                    required
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ word.correctLetters }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <i
                class="pi pi-trash"
                style="cursor: pointer"
                [ngStyle]="{ color: 'var(--red-700)' }"
                (click)="removeItem(rowIndex)"
              ></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-12 col-md-4">
      <p-button [outlined]="true" (onClick)="refreshPotentialPasswords()">
        <i class="pi pi-refresh"></i>
      </p-button>
      <p class="my-3" *ngIf="errorMessage.length > 0" [ngStyle]="{ color: 'var(--red-700)' }">
        {{ errorMessage }}
      </p>
      <p-table [value]="potentialPasswords">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 50%">Potential Passwords</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-word
          let-editing="editing"
          let-rowIndex="rowIndex"
        >
          <tr>
            <td>{{ word }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
